# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Code coverage profiles and other test artifacts
*.out
coverage.*
*.coverprofile
profile.cov

# Memory profile
*.pprof

# env file
.env

# Generated code
cmd/**/*.json
pkg/protobuf/tf2/tf2_gc
**/cache/**
storage.json
